---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&lat=50&lon=50&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":50,"lon":50,"timezone":"Asia/Oral","timezone_offset":18000,"current":{"dt":1623787169,"sunrise":1623803415,"sunset":1623862272,"temp":72.9,"feels_like":72.66,"pressure":1008,"humidity":59,"dew_point":57.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.56,"wind_deg":212,"wind_gust":25.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1623787200,"precipitation":0},{"dt":1623787260,"precipitation":0},{"dt":1623787320,"precipitation":0},{"dt":1623787380,"precipitation":0},{"dt":1623787440,"precipitation":0},{"dt":1623787500,"precipitation":0},{"dt":1623787560,"precipitation":0},{"dt":1623787620,"precipitation":0},{"dt":1623787680,"precipitation":0},{"dt":1623787740,"precipitation":0},{"dt":1623787800,"precipitation":0},{"dt":1623787860,"precipitation":0},{"dt":1623787920,"precipitation":0},{"dt":1623787980,"precipitation":0},{"dt":1623788040,"precipitati[...]
